.hide-payment-country {
    display: none;
}
.paysera-methods img {
    vertical-align: middle;
    padding-left: 5px;
}

.paysera-methods caption {
    text-align: -webkit-left;
    font-size: 1.2em;
    margin-bottom: 15px;
}
.paysera-methods .fieldset-wrapper {
    font-weight: bold;
}
.paysera-methods table tr {
    background-color: transparent;
}
.paysera-methods table input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.paysera-methods table img {
    padding: 5px;
}
.paysera-methods table input[type=radio] + label {
    cursor: pointer;
}
.paysera-methods table input[type=radio]:checked + label {
    outline: 2px solid grey;
}
